<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <a href="{{ HOME_PATH }}"><h1 class="brand">{{ site.title }}</h1></a>
             <p class="lead">{{ site.tagline }}</p>
        </div>

        {% include menu %}

        <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        <br />
        <a href="http://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;{{end}}
        <a href="http://linkedin.com/in/{{ site.author.linkedin }}"><i class="fa fa-linkedin-square"></i></a>&nbsp;&nbsp;{{end}}
        {% comment %}
        <a href="http://github.com/{{ site.author.github }}"><i class="fa fa-github-square"></i></a>&nbsp;&nbsp;{{end}}
        {% endcomment %}
        <a href="http://flickr.com/photos/stevebullock"><i class="fa fa-flickr"></i></a>&nbsp;&nbsp;{{end}}

        <p class="footnote">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    </div>
</div>
